html,body {
    margin: 0 auto;
}
   
body {
    background: url(../img/dnevnik.jpg) no-repeat fixed;
    background-size: cover;
<<<<<<< HEAD
}


=======
    }
>>>>>>> f660d2f734532bb70b4297b62efdb8fb547467f5
